<%-include partials/header.ejs %>
<h1>Compose</h1>
<form action="/compose" method="post">
  <div class="form-group">
    <label for="titleInput">Title</label>
    <input type="text" class="form-control" id="titleInput" name="title">
    <label for="postInput">Post</label>
    <textarea class="form-control" id="postInput" name="Post" rows="5"></textarea>
    <button class="btn btn-primary" type="submit">Publish</button>
  </div>


</form>
<%-include partials/footer.ejs%>
